footer.footer
  a.scrolltop__button(data-animation="button" target="" href="javascript:void(0)")
    span Scroll Top
    svg.scrolltop__link__icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 202 39")
      path(opacity="0.5" stroke="currentColor" fill="none" d="m 19.5,0.5 h 163 c 10.526,0 19,8.474 19,19 0,10.526 -8.474,19 -19,19 h -163 c -10.526,0 -19,-8.474 -19,-19 0,-10.526 8.474,-19 19,-19 z")
      path.scrolltop__link__icon__path(stroke="#000000" fill="none" d="m 19.5,0.5 h 163 c 10.526,0 19,8.474 19,19 0,10.526 -8.474,19 -19,19 h -163 c -10.526,0 -19,-8.474 -19,-19 0,-10.526 8.474,-19 19,-19 z")
  .footer__wrapper
    .footer__content
      figure.footer__content__media
        img.footer__content__media__image(data-animation="highlight" alt=footer.data.logo.alt src=footer.data.logo.url)
    each section in footer.data.body
      if section.slice_type == 'list'
        each data in section.items
          .footer__content
            .footer__content__title=data.label
            .footer__content__description
              span!=data.text_1.replace(/\n/g, '</span><span>')
              span.mt-20!=data.text_2.replace(/\n/g, '</span><span>')
      if section.slice_type == 'link'
        .footer__content
          .footer__content__title Shortcuts
          .footer__content__description
            ul.footer__navigation__list
              each item in section.items
                li.footer__navigation__list__item
                  a.footer__navigation__list__link(href=Link(item.link))=item.text
      if section.slice_type == 'download'
        .footer__content
          .footer__content__title=section.slice_type
          a.contact__content__download(href='/gala_digdaya.pdf' target='_blank')
            figure.footer__content__media
              img.footer__content__media__image(data-animation="highlight" alt=section.primary.download.alt data-src=section.primary.download.url)
  .footer__cc
    .footer__copyright!=footer.data.copyright
    .footer__credit
      each credit in footer.data.credit
        p.footer__credit__text Website by
        a.footer__credit__link(href=`${credit.link.url}` target=`${credit.link.target}`)=credit.text
