nav.navigation
  a.navigation__link(href='/')=meta.data.title
    svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 563 147.976')
      path(fill='currentColor' d='M180.4,43.1c-1.5-1.5-4.5-2.7-9-3.5a49.7,49.7,0,0,0,1.9-8.5c2.1-10.3.1-21.4-14-27-9.6-4.4-24.2-6.3-47.6-.2A108.787,108.787,0,0,0,95.2,9.1a118.372,118.372,0,0,1,18.7-1.8c10.9.2,23.2,2.4,29.8,8.8,3.8,4.2,5.5,10.3,3.7,19a52.839,52.839,0,0,1-5.7,12C133,58.5,108.5,87.3,74,103.9a156.374,156.374,0,0,1-30.7,10.4,108.01,108.01,0,0,1-43.5-.4s4,9.7,21,12.3c-.4,4.9.5,8.6,2.7,11,2.3,2.5,6.1,3.7,11.5,3.6H155.8c10.1-.5,12.5-7.2,12.5-7.2l7-41.8H138.9L124,104h34.7l-1.9,10.1L155,123a3.715,3.715,0,0,1-3.2,3H41.7c1-.1,2-.3,3.1-.5,1-.2,2-.3,3-.5,35.5-6.1,89.9-32.2,115.3-70.7h3a1.612,1.612,0,0,1,1.3.6,2.958,2.958,0,0,1,.2,1l-4.7,24.4h14.5l5.3-25C183.3,49.9,183.1,46.1,180.4,43.1Z')
      path(fill='#f77e0b' d='M38.6,104.2c12.6-1.3,35-12.9,35-12.9H40.1l4-35.5a1.209,1.209,0,0,1,.6-.9,1.612,1.612,0,0,1,1.3-.6h76.5a167.292,167.292,0,0,0,9.4-14.9H46.7c-5.3-.2-9.4,1.1-12.3,3.8C31.4,46,29.6,50,29,55.3L23.2,106a5.019,5.019,0,0,1,1.2-.2A96.436,96.436,0,0,0,38.6,104.2Z')
      path(fill='none' d='M173.3,31.1c-.2,1.3-.4,2.5-.6,3.5A19.677,19.677,0,0,0,173.3,31.1Z')
      path(fill='#f77e0b' d='M43.6,125.9H41.7c1-.1,2-.3,3.1-.5,1-.2,2-.3,3-.5,35.5-6.1,89.9-32.2,115.3-70.7,0,0,7.4-9.9,9.7-19.6.2-1.1.4-2.3.6-3.5,2.1-10.3.1-21.4-14-27-9.6-4.4-24.2-6.3-47.6-.2A108.787,108.787,0,0,0,95.3,9.1,118.372,118.372,0,0,1,114,7.3c10.9.2,23.2,2.4,29.8,8.8,3.8,4.2,5.5,10.3,3.7,19a52.839,52.839,0,0,1-5.7,12c-8.7,11.4-33.2,40.2-67.7,56.8a156.374,156.374,0,0,1-30.7,10.4,108.01,108.01,0,0,1-43.5-.4s3.8,9.4,20.2,12.2A97.209,97.209,0,0,0,43.6,125.9Z')
      path(fill='currentColor' d='M241.1,5.4a9.443,9.443,0,0,0-7.1,3,9.993,9.993,0,0,0-3,7.1V40.1a9.443,9.443,0,0,0,3,7.1,9.661,9.661,0,0,0,7.1,2.9h26.1a10.129,10.129,0,0,0,7.2-2.9,9.993,9.993,0,0,0,3-7.1v-16H259v5.5h12.3v9.7a5.367,5.367,0,0,1-1.5,3.8,5.051,5.051,0,0,1-3.9,1.5H242.7a5.367,5.367,0,0,1-3.8-1.5,4.974,4.974,0,0,1-1.5-3.8v-23a5.367,5.367,0,0,1,1.5-3.8,4.974,4.974,0,0,1,3.8-1.5h31.6V5.4Zm66.8,0L284.8,50.1h6.9l7-13.7h25.7l7,13.7h6.9L315.2,5.4Zm3.6,6.2,9.8,19.2H301.6Zm44.4,38.6a9.443,9.443,0,0,1-7.1-3,9.993,9.993,0,0,1-3-7.1V5.4H352V39.2a5.367,5.367,0,0,0,1.5,3.8,4.974,4.974,0,0,0,3.8,1.5h31.2V50H355.9ZM419.1,5.4,396,50.2h6.9l7-13.7h25.7l7,13.7h6.9l-23-44.8Zm3.7,6.2,9.8,19.2H412.9ZM231.4,64.3V109h36.2a10.072,10.072,0,0,0,10.1-10.1V74.4a10.136,10.136,0,0,0-10.1-10.1Zm6.1,5.5H266a5.251,5.251,0,0,1,5.4,5.1V98.1a5.251,5.251,0,0,1-5.1,5.4H237.5Zm49.1-5.5h6.1V109h-6.1Zm25.2,0a10.072,10.072,0,0,0-10.1,10.1V99a10.072,10.072,0,0,0,10.1,10.1h26.1a10.129,10.129,0,0,0,7.2-2.9,9.993,9.993,0,0,0,3-7.1v-16H329.7v5.5H342v9.7a5.251,5.251,0,0,1-5.1,5.4H313.4a5.169,5.169,0,0,1-5.4-5V75.3a5.169,5.169,0,0,1,5-5.4h32V64.4H311.8Zm44.8,0V109h36.2a10.072,10.072,0,0,0,10.1-10.1V74.4a10.072,10.072,0,0,0-10.1-10.1Zm6.2,5.5h28.5a5.251,5.251,0,0,1,5.4,5.1V98.1a5.251,5.251,0,0,1-5.1,5.4H362.8Zm70.7-5.5L410.4,109h6.9l7-13.7H450l7,13.7h6.9L440.8,64.3Zm3.7,6.2L447,89.7H427.3Zm25-6.2,21.4,25.5V109h6.1V89.8L511,64.3h-8.2L486.6,84,470.4,64.3Zm70.2,0L509.3,109h6.9l7-13.7h25.7l7,13.7h6.9L539.7,64.3Zm3.7,6.2,9.8,19.2H526.2Z')
      path(fill='currentColor' d='M233.7,130.9a3.757,3.757,0,0,0-3.8,3.8v9.4a3.757,3.757,0,0,0,3.8,3.8h12.5v-2.2H234.3a2.2,2.2,0,0,1-1.5-.6,2.035,2.035,0,0,1-.6-1.5v-3.5h11.6v-2.2H232.2v-3a2.2,2.2,0,0,1,.6-1.5,2.035,2.035,0,0,1,1.5-.6h11.9v-2.2H233.7ZM282.9,148h-1.8l-13.5-13.3V148h-2.4V130.9h1.9l13.5,13.2V130.9H283V148Zm18.9-17.1V133h7v15h2.4V133h7v-2.1Zm39,0a3.757,3.757,0,0,0-3.8,3.8v9.4a3.757,3.757,0,0,0,3.8,3.8h12.5v-2.2H341.4a2.2,2.2,0,0,1-1.5-.6,2.035,2.035,0,0,1-.6-1.5v-3.5h11.6v-2.2H339.3v-3a2.2,2.2,0,0,1,.6-1.5,2.035,2.035,0,0,1,1.5-.6h11.9v-2.2H340.8Zm31.5,0V148h2.4v-7.1h10.1q2.1,0,2.1,1.5V148h2.4v-5.2a2.821,2.821,0,0,0-2.4-3.3,2.273,2.273,0,0,0,1.8-.5,2.743,2.743,0,0,0,.6-2.1V134a2.59,2.59,0,0,0-1.1-2.3,5.376,5.376,0,0,0-2.8-.8Zm2.3,2h10.1q2.1,0,2.1,1.5v2.8q0,1.5-2.1,1.5H374.6Zm33.5-2V148h2.3v-6.5h9.9a3.757,3.757,0,0,0,3.8-3.8v-2.9a3.757,3.757,0,0,0-3.8-3.8H408.1Zm2.4,2.1h9.4a2.051,2.051,0,0,1,2.1,2.1v2.2a2.2,2.2,0,0,1-.6,1.5,2.035,2.035,0,0,1-1.5.6h-9.4Zm32.7-2.1V148h2.4v-7.1h10.1q2.1,0,2.1,1.5V148h2.4v-5.2a2.821,2.821,0,0,0-2.4-3.3,2.273,2.273,0,0,0,1.8-.5,2.743,2.743,0,0,0,.6-2.1V134a2.59,2.59,0,0,0-1.1-2.3,5.376,5.376,0,0,0-2.8-.8Zm2.3,2h10.1q2.1,0,2.1,1.5v2.8q0,1.5-2.1,1.5H445.5Zm33.6-2h2.3V148h-2.3Zm25.3,0a3.757,3.757,0,0,0-3.8,3.8v1.6a3.757,3.757,0,0,0,3.8,3.8H513a2.051,2.051,0,0,1,2.1,2.1v1.5a2.2,2.2,0,0,1-.6,1.5,2.035,2.035,0,0,1-1.5.6H501.2v2.1h12.4a3.756,3.756,0,0,0,3.8-3.8v-2.3a3.756,3.756,0,0,0-3.8-3.8H505a2.051,2.051,0,0,1-2.1-2.1V135a2.2,2.2,0,0,1,.6-1.5,2.035,2.035,0,0,1,1.5-.6h11.3v-2.1H504.4Zm35.6,0a3.756,3.756,0,0,0-3.8,3.8v9.4a3.756,3.756,0,0,0,3.8,3.8h12.5v-2.2H540.6a2.2,2.2,0,0,1-1.5-.6,2.035,2.035,0,0,1-.6-1.5v-3.5h11.6v-2.2H538.5v-3a2.2,2.2,0,0,1,.6-1.5,2.035,2.035,0,0,1,1.5-.6h11.9v-2.2H540Z')


  ul.navigation__list
    each item in navigation.data.list
      li.navigation__list__item
        a.navigation__list__link(href=Link(item.link))=item.text
    li.navigation__list__item.mode
      input#switch.mode_toggle(type='checkbox' name='mode' checked=false)
      label(for='switch') Light
  a.navigation__mobile__button(href="javascript:void(0)" target="")
    span.navigation__mobile__menu
    span.navigation__mobile__menu
  .navigation__mobile
    .navigation__mobile__wrapper
      ul.navigation__mobile__list
        each item in navigation.data.list
          li.navigation__mobile__list__item
            a.navigation__mobile__list__link(href=Link(item.link))=item.text
      .navigation__mobile__content
        .navigation__mobile__content__office(data-animation="highlight")!=contact.data.text_1.replace(/\n/g, '<br>')
        .navigation__mobile__content__contact(data-animation="highlight")!=contact.data.text_2.replace(/\n/g, '<br>')
        .navigation__mobile__content__download(data-animation="highlight") Scan code below to get our Company Profile
        figure.navigation__mobile__content__media
          each section in footer.data.body
            if section.slice_type == 'download'
              img.navigation__mobile__content__media__image(data-animation="highlight" alt=section.primary.download.alt data-src=section.primary.download.url)


