extends ../partial/layout

block variables
  - var template = 'home'

block content
  .home(data-background="#f4f4f4" data-color="#000000")
    .home__wrapper
      each section in home.data.body
        if section.slice_type == 'content'
          section.home__content(data-animation="section" class=`${section.primary.type === 'Left' ? 'home__content--left' : section.primary.type === 'Right' ? 'home__content--right' : 'home__content--background'}` nav-color=`${section.primary.type === 'Left' ? '#00315c' : section.primary.type === 'Right' ? '#00315c' : '#fff'}`)
            .home__content__wrapper
              if section.primary.text =='Scroll Down'
                .embed__responsive__item
                  video.embed__responsive__video(autoplay loop playsinline muted defaultMuted oncontextmenu="return false;" preload="auto" poster=`${section.primary.image.url}`)
                    source(src="https://res.cloudinary.com/soshin/video/upload/f_auto:video/v1/galadigdaya.com/k5grdzlru7fzttex7e4t" type="video/mp4")
              h2.home__content__title(data-animation="title")
                span!=section.primary.title.replace(/\n/g, '</span><span>')
              .home__content__box
                if section.primary.label
                  p.home__content__label(data-animation="label")=section.primary.label
                .home__content__inner__box
                  if section.primary.description
                  .home__content__description(data-animation="paragraph")
                    span!=section.primary.description.replace(/\n/g, '</span><span>')
                  if section.primary.text
                    if section.primary.link.slug
                      a.home__content__button(data-animation="button" href=Link(section.primary.link))
                        span=section.primary.text
                        svg.home__content__link__icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 202 39")
                          path(opacity="0.6" stroke="currentColor" fill="none" d="m 19.5,0.5 h 163 c 10.526,0 19,8.474 19,19 0,10.526 -8.474,19 -19,19 h -163 c -10.526,0 -19,-8.474 -19,-19 0,-10.526 8.474,-19 19,-19 z")
                          path.home__content__link__icon__path(stroke="#000000" fill="none" d="m 19.5,0.5 h 163 c 10.526,0 19,8.474 19,19 0,10.526 -8.474,19 -19,19 h -163 c -10.526,0 -19,-8.474 -19,-19 0,-10.526 8.474,-19 19,-19 z")
                    else
                      a.home__content__button.scrolldown__button(data-animation="button" target="" href="javascript:void(0)")
                        span=section.primary.text
                        svg.home__content__link__icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 202 39")
                          path(opacity="0.6" stroke="currentColor" fill="none" d="m 19.5,0.5 h 163 c 10.526,0 19,8.474 19,19 0,10.526 -8.474,19 -19,19 h -163 c -10.526,0 -19,-8.474 -19,-19 0,-10.526 8.474,-19 19,-19 z")
                          path.home__content__link__icon__path(stroke="#FFFFFF" fill="none" d="m 19.5,0.5 h 163 c 10.526,0 19,8.474 19,19 0,10.526 -8.474,19 -19,19 h -163 c -10.526,0 -19,-8.474 -19,-19 0,-10.526 8.474,-19 19,-19 z")
            figure.home__content__media
              img.home__content__media__image(data-animation="highlight" alt=section.primary.image.alt data-src=section.primary.image.url)
        if section.slice_type == 'gallery'
          if section.primary.title == 'Gala Digdaya &bull; Gala Digdaya &bull; Gala Digdaya &bull; Gala Digdaya'
            section.home__gallery(nav-color="#fff")
              h2.home__gallery__title(data-animation="highlight")!=section.primary.title.replace(/\n/g, '<br>')
              .home__gallery__wrapper
                each media in section.items
                  figure.home__gallery__media
                    img.home__gallery__media__image(alt=media.image.alt data-src=media.image.url)
          else
            section.home__gallery--2(data-animation="section" nav-color="#00315c")
              h2.home__gallery__title--2(data-animation="title")!=section.primary.title.replace(/\n/g, '<br>')
              .home__gallery__wrapper--2
                each media in section.items
                  figure.home__gallery__media--2
                    img.home__gallery__media__image--2(data-animation="highlight" alt=media.image.alt data-src=media.image.url)
        if section.slice_type == 'result'
          section.home__result(data-animation="section" nav-color="#00315c")
            .home__result__wrapper
              each text in section.items
                .home__result__box
                  h2.home__result__title!=text.title
                  p.home__result__label!=text.label
              each text in section.items
                .home__result__box
                  h2.home__result__title!=text.title
                  p.home__result__label!=text.label
              each text in section.items
                .home__result__box
                  h2.home__result__title!=text.title
                  p.home__result__label!=text.label
              each text in section.items
                .home__result__box
                  h2.home__result__title!=text.title
                  p.home__result__label!=text.label
      include ../partial/footer
