extends ../partial/layout

block variables
  - var template = 'services'

block content
  .services(data-background="#f4f4f4" data-color="#000000")
    .services__wrapper
      each section in services.data.body
        if section.slice_type == 'content'
          section.services__content(class=`${section.primary.type === 'Left' ? 'services__content--left' : section.primary.type === 'Right' ? 'services__content--right' : 'services__content--background'}` nav-color=`${section.primary.type === 'Left' ? '#00315c' : section.primary.type === 'Right' ? '#00315c' : '#fff'}`)
            .services__content__wrapper
              if section.primary.label
                p.services__content__label(data-animation="label")=section.primary.label
              if section.primary.title
                h2.services__content__title(data-animation="title")
                  span!=section.primary.title.replace(/\n/g, '</span><span>')
              if section.primary.description
                .services__content__description(data-animation="paragraph")
                  span!=section.primary.description.replace(/\n/g, '</span><span>')
              if section.primary.text
                if section.primary.link
                  a.services__content__button(data-animation="button" href=Link(section.primary.link))
                    span=section.primary.text
                    svg.services__content__link__icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 202 39")
                      path(opacity="0.5" stroke="currentColor" fill="none" d="m 19.5,0 h 163 C 193.303,0 202,8.697 202,19.5 202,30.303 193.303,39 182.5,39 H 19.5 C 8.697,39 0,30.303 0,19.5 0,8.697 8.697,0 19.5,0 Z")
                      path.services__content__link__icon__path(stroke="#000000" fill="none" d="m 19.5,0.5 h 163 c 10.526,0 19,8.474 19,19 0,10.526 -8.474,19 -19,19 h -163 c -10.526,0 -19,-8.474 -19,-19 0,-10.526 8.474,-19 19,-19 z")
            figure.services__content__media
              img.services__content__media__image(data-animation="highlight" alt=section.primary.image.alt data-src=section.primary.image.url)
        if section.slice_type == 'gallery'
          section.services__gallery(data-animation="section" nav-color="#fff")
            h2.services__gallery__title(data-animation="highlight")!=section.primary.title.replace(/\n/g, '<br>')
            .services__gallery__wrapper
              each media in section.items
                figure.services__gallery__media
                  img.services__gallery__media__image(alt=media.image.alt data-src=media.image.url)
        if section.slice_type == 'lists'
          section.services__lists(data-animation="section" nav-color="#00315c")
            p.services__lists__label(data-animation="label")=section.primary.label
            each route in section.items
              .services__lists__box
                h2.services__lists__title(data-animation="title")!=route.item
        if section.slice_type == 'quality'
          section.services__quality(data-animation="section" nav-color="#00315c")
            .service__quality__box
              p.services__quality__label(data-animation="label")=section.primary.label
              p.services__quality__title(data-animation="title")!=section.primary.title.replace(/\n/g, '<br>')
            .service__quality__box
              p.services__quality__label=section.primary.label
              each quality in section.items
                .service__quality__inner__box
                  p.services__quality__label__right(data-animation="label")
                    span!=quality.label.replace(/\n/g, '</span><span>')
                  p.services__quality__description(data-animation="paragraph")!=quality.description.replace(/\n/g, '<br>')
      include ../partial/footer

